body{
     background-color:white;
   
   
    
}

.header{
    background-image: url('border-from-ingredients-cooking_23-2147749525.jpg');
    box-shadow: 2px 2px 5px 0 white inset, -2px -2px 5px 0 white inset;
    height: 100vh;
    text-align: center;
    font-size: 25px;
   background-repeat: no-repeat;
    width: 100wh;;
    color: white;
    margin-right: 10px;
    margin-top: 0px;
    margin-left: 0px;
    border: 
}
.writeup{
    position: relative;
    top:100px;
    color:aliceblue;
    font-weight: 2000px;
    overflow: hidden;
}
.hh{
    color:white;
    font-size: 60px;
    position: relative;
    top: 40px;
}
a{
    position:relative;
    overflow: hidden;
color:black;    
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: red;
}
.topbar{
    height: 80px;
    width: 1510px;
    background-color: white;
    margin: 10px;
    margin-left:0px;
    margin-top: 0px;
    position: fixed;
  
}
.logo{
    margin-left: 10px;
    float:left;
    margin-top: 0px;
    position: relative;
    left: 40px;
}
.tpt{
    font-size: 20px;
    font-weight: bold;
}
.cart{
    float: right;
    position: absolute;
    top: -10px;
    left: 1000px;
}
.no{
    height: 2000px;
}
.serve{
    back
}
.cartd{
    position: relative;
    top: -15px;
    right: -350px;
}
#hh1{
    font-family: 'Fredoka One', cursive;
}